<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Página Inicial</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css
/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark
bg-success">
        <a class="navbar-brand" href="/">Sistema Academico</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/cidade/">Cidade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/ocupacao/">Ocupacao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/matricula/">Matrícula</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/instituicao/">Instituicao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/area/">Area Saber</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/curso/">Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/periodo/">Periodo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/disciplina/">Disciplina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/disciplina_curso/">Disciplina Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/pessoa/">Pessoa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/avaliacao/">Avaliação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/avaliacao_tipo/">Avaliação Tipo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/frequencia/">Frequencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/turma/">Turma</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/ocorrencia/">Ocorrencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/disciplina_curso/">Disciplina Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/">Administração</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Tabela de Pessoa</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>

                </tr>
            </thead>
            <tbody>
                {% for tipos_avaliacao in tipos_avaliacao %}
                <tr>
                    <td>{{ tipos_avaliacao.nome }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Incluindo jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>